@charset "UTF-8";
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-image: linear-gradient(to bottom, rgb(212, 3, 3),rgb(122, 1, 1),
    rgb(70, 0, 0));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: rgb(216, 216, 216);
    width: 300px;
    height: 560px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.801);

    transition: width 0.4s, height 0.4s;
    transition-timing-function: ease;
    transform: translate(-50%, -50%);
}
section#login > div#imagemlogin{
    display: block;
    background: url(../imagens/carro.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
    
}
div#formulario > div#logintitulo > h1#titulopequeno{
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    transform: translate(100px, -20px);
}
div#formulario > div#logintitulo > img#logoferraripequeno{
    margin: auto;
    transform: translate(130px);
}
div#formulario >  h1#titulomedio{
    display: none;
}
div#formulario > div#logintitulo > img#logoferrarigrande{
    display: none;
}
div#formulario > div#logintitulo > img#logoferrarimedio{
    display: none;
}
div#formulario > p{
    font-size: 0.8em;
    margin-bottom: 12px;
}
form > div.campo{
    background-color: darkred;
    border: 2px solid rgb(78, 1, 1);
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px; /*cima baixo 5px; dois lados 0px*/

}
div.campo > label{
    display: none;
}

div.campo > span{
    color: rgb(255, 172, 18);
    font-size: 2em;
    width: 40px;
    padding: 5px;
    transform: translate(0px, -2px);
}
div.campo > input{
    background-color: #b8b8b8;
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translate(40px, -42px);
}
div.campo > input:focus-within{
    background-color: white;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 60%;
    height: 40px;
    background-color:#D6252B;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: auto;
}
form > input[type=submit]:hover{
    background-color: rgb(255, 127, 127);
    cursor: pointer;
}
form > a.botao{
    display: block;
    margin: auto;
    text-align: center;
    font-size: 1em;
    width: 60%;
    height: 40px;
    background-color: #D6252B;
    border: 1px solid rgb(145, 0, 0);
    color: black;
    border-radius: 7px;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
}
form a.botao:hover{
    background-color: rgb(255, 127, 127);
}
form > a.botao > span{
    font-size: 0.8em;
}
#cadastro{
    display: block;
    text-align: center;
    margin-top: 20px;
    color: darkred;
}
#cadastro:hover{
    color: rgb(167, 110, 5);
}